@font-face {
  src: url('source/Inter/static/Inter-Bold.woff') format('woff');
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('source/Inter/static/Inter-Regular.woff') format('woff');
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: normal;
}

/* {
  max-width: 1255px;
  pourquoi un max-width ici
}*/

body {
  background-color: #C0DAE5;
  box-sizing: border-box;

}
.ig {display: none;}

.square {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


.hede {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url('source/Background.png');
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nav-bar {  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 35%;
  padding-right: 6%;
}
.nav-menu {  
  display: flex;
  flex-direction: row;
}

.sub_container{
  /* pour ceci à partir d'une taille donnée tu fais un flex-wrap: ;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 6%;
  padding-left:35%
}

/*head {
  je ne vois pas cette balise
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-basis: 20%;
  border-top: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  top: 3%;
  left: 12%;
  width: 70%;
  padding: 50px;
  box-sizing: border-box;
}

.head img {
  flex-direction: column;
  vertical-align: middle;
  padding: 20px;
  margin-top: 15px;
}*/
.b1{
  align-items: center;
}
.big{
  display: flex;
  flex-direction:row;
}
.big * {
  padding: 10px
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.title p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.tit {
  font-weight: 900;
  font-size: 45px;
  font-family: 'Inter-Bold';
}

.t {
  font-weight: 900;
  font-family: 'Inter-Bold';
}

.part p{
  margin: 7px;
}

.st {
  font-family: 'Inter-Regular';
}

/*@media screen and (min-width: 147px) and (max-width: 477px) {
  .ig {padding-top: 1%;
    padding-left: 68%;
  }
  .b1 {padding-top: 7%;
    padding-left: 5%;}
  .b1, .ig {width: 8%;}
  .ci {width: 20%;
    padding-left: 18%;
    padding-top: 5%;
  }
  .t_big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c {
    padding-left: 15%;
    padding-top: 10%;
    margin: -1%;
    font-size: 140%;
    font-weight: bold;
    font-family: 'Inter-Bold';}
  .c3 {
    border: 2px solid #6935FD;
    border-radius: 5px;
    color: #FFF;
    padding: 2%;
    margin-left: -32%;
    margin-top: 5%;
    background-color: #6935FD;
    font-size: 60%;
  }
  .c, .c4 {width: 65%;}
  .c4 {padding-left: 15%;}
  .c5, .c6, .c7, .c8, .c9 {display: none;}
  .tit { font-weight: 900; font-size: 25px; }
  head { display: none; }
  .head img {
    align-items: center;
    padding: 5px;
    margin: 7px;
  }
  .big {display: none;}
  .ob {width: 100%;}
  .it {
    font-size: 160%;
    font-family: 'Inter-Bold';
  }
  .i {
    font-size: 100%;
    font-family: 'Inter-Regular';
  }
  .col {padding: 20%;}
  .j {width: 80%; padding: 10%;}
  .txt {font-family: 'Inter-Bold';
    font-size: 80%;}
  .txte {font-family: 'Inter-Regular';}
  .sub {padding: 15%;}
  .hed {
    background-color: #D5FAFC;}
  .pict {
    width: 35%;
  }
  .guill {
    padding: 5%
  }
  .guill h1 {
    display: flex;
    font-size: 130%;
    margin-top: -13%;
    margin-left: 25%;
    font-family: 'Inter-Bold';
  }  
  .guill p {
      display: flex;
      font-family: 'Inter-Regular';
      margin-left: 25%;
      font-size: 70%;
    }
  .cas1, .cas2, .cas3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin: 10%;
    padding: 10%;
  }
  .lg {width: 60%;
  padding: 5%;}
  .pic, .pic_1, .pic_2 {width: 10%;
    padding-top: 10%;}
  .reg {font-family: 'Inter-Regular';}
  .reg_b {font-family: 'Inter-Bold';}
  .reg_g {color: gray;}
  .text {width: 70%;}
  .contain-3 {  background-color: #2EC5CE;
  width: 100%;}
  .tt {padding: 5%;}
  .tt > * {width: 60%;
    font-size: 90%;
    padding-left: 15%;
  }
  .bot {width: 25%;}
  .ph {width: 35%;
  padding-left: 9%;}
  .contain-4 {
    background-color: #000000;
    color: #FFF;
    width: 100%;}
  .to, .ta {display: none;}
  .tu {padding: 5%;}
  .bar {display: none;}
  .obj p {
    padding-left: 10%;
  }
  .obj img {
    width: 30%;
    padding-left: 10%;
  }
  .tl {width: 100%;
    font-size: 90%;
    padding: 5%;
  }
}

@media screen and (min-width: 478px) and (max-width: 770px) {
  .ig {display: none;}
  .b1 {padding-top: 7%;
    margin-left: -12%;}
  .b9 {padding-bottom: 100%;}
  .ci {width: 20%;
    padding-left: 18%;
    padding-top: 5%;
  }
  .big {display: flex;
    flex-direction: row;
    width: 5%;
    font-size: 100%;
    margin: 0%;
  }

  .big > * {
    margin-top: -135%;
    margin-left: 90%;
  }

  .t_big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c {
    padding-left: 5%;
    padding-top: 10%;
    margin: -1%;
    font-size: 200%;
    font-family: 'Inter-Bold';
  }
  .c3 {
    border: 2px solid #6935FD;
    border-radius: 5px;
    color: #FFF;
    padding: 2%;
    margin-left: -32%;
    margin-top: 5%;
    background-color: #6935FD;
    font-size: 60%;
  }
  .c4 {padding-left: 15%;
    width: 65%;
  }
  .c5, .c6, .c7, .c8, .c9 {display: none;}
  .tit { font-weight: 900; font-size: 25px; }
  head { display: none; }
  .head img {
    align-items: center;
    padding: 5px;
    margin: 7px;
  }
  .ob {width: 100%;}
  .it {
    font-size: 160%;
    font-family: 'Inter-Bold';
  }
  .i {
    font-size: 100%;
    font-family: 'Inter-Regular';
  }
  .col {padding: 20%;}
  .j {width: 80%; padding: 10%;}
  .txt {font-family: 'Inter-Bold';
  font-size: 85%;}
  .txte {font-family: 'Inter-Regular';}
  .sub {padding: 20%;}
  .hed {
    background-color: #D5FAFC;}
  .pict {
    width: 35%;
  }
  .guill {
    padding: 5%
  }
  .guill h1 {
    display: flex;
    font-size: 220%;
    margin-top: -13%;
    margin-left: 25%;
    font-family: 'Inter-Bold';
  }  
  .guill p {
    display: flex;
    font-family: 'Inter-Regular';
    margin-left: 25%;
    font-size: 90%;
    }
  .cas1, .cas2, .cas3 {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin: 10%;
    padding: 10%;
  }
  .lg {width: 50%;
    padding: 5%;}
  .pic, .pic_1, .pic_2 {width: 6%;
    padding-top: 10%;}
  .reg {font-family: 'Inter-Regular';}
  .reg_b {font-family: 'Inter-Bold';}
  .reg_g {color: gray;}
  .contain-3 {  background-color: #2EC5CE;
    width: 100%;}
  .tt {padding: 5%;}
  .tt > * {width: 60%;
    font-size: 130%;
    padding-left: 15%;
  }
  .bot {width: 20%;}
  .ph {width: 35%;
  padding-left: 9%;}
  
.contain-4 {
  display: flex;
  background-color: #000000;
  width: 100%;
}

.tu {
  display: flex;
  width: 4%;
  height: 8%;
  padding-top: 4%;
  padding-left: 11%;
}

.to {
  display: flex;
  margin-top: 13%;
  margin-left: -4%;
  color: white;
  font-size: 110%;
}

.ta {
  display: flex;
  margin-top: 25%;
  margin-left: -20%;
  color: white;
  font-size: 100%;
}

.tl {
  display: flex;
  flex-direction: column;
  margin-top: 21%;
  margin-left: -68%;
  color: white;
}
.obj {
  display: flex;
  color: white;
}
.obj img {
  width: 20%;
  height: 10%;
}
.o {margin: 5px;}
}

@media screen and (min-width: 770px) and (max-width: 913px) {
  .ig {display: none;}
  .b1 {padding-top: 7%;
    margin-left: -12%;}
  .b9 {padding-bottom: 100%;}
  .ci {width: 20%;
    padding-left: 18%;
    padding-top: 5%;
  }
  .big {display: flex;
    flex-direction: row;
    width: 5%;
    font-size: 100%;
    margin: 0%;
  }

  .big > * {
    margin-top: -135%;
    margin-left: 90%;
  }

  .t_big {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .c {
    padding-left: 15%;
    padding-top: 10%;
    margin: -1%;
    width: 65%;
    font-family: 'Inter-Bold';
    font-weight: bold;
  }
  .c3 {
    border: 2px solid #6935FD;
    border-radius: 5px;
    color: #FFF;
    padding: 2%;
    margin-left: -32%;
    margin-top: 5%;
    background-color: #6935FD;
    font-size: 60%;
  }
  .c4 {padding-left: 15%;
    width: 65%;
  }
  .c5, .c6, .c7, .c8, .c9 {display: none;}
  .tit { font-weight: 900; font-size: 45px; }
  head {
    display: none;
  }  
  .head img {
    align-items: center;
    padding: 15px;
    margin: 12px;
  }
  .ima {display: none;}
  .hed {
    background-color: #D5FAFC;
  }
    .big_div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #D5FAFC;
      padding-left: 18%;
      padding-right: 15%;
    }
    .l_cas {
      display: flex;
      flex-direction: column;
    }
    .l_cas div {
      display: flex;
      justify-content: flex-start;
    }
    .cas {
      display: flex;
      flex-direction: column;
    }
    .cas div {
      margin: 5%;
    }

  .guill {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: -30%;
    padding-top: 30%;
  }
  .guill h1 {
    display: flex;
    margin-left: -25%;
    font-size: 206%;
    margin-top: -1%;
    flex-wrap: wrap;
    width: 90%;
  }
  .guill p {
    display: flex;
    margin-left: 10%;
    font-size: 80%;
    margin-top: -5%;
    font-family: 'Inter-Regular';
  }
    .pict {
      width: 50%; 
      height: 70%;
      margin-top: -35%;
      margin-left: -35%;
      padding: 10%;
    }

  .cas1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    width: 60%;
    height: 60%;
    font-size: 80%;
    flex-wrap: wrap;
    padding: 10%;
  }
  .cas2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    font-size: 85%;
    padding: 6%;
    flex-wrap: wrap;
  }

  .cas3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    width: 76%;
    font-size: 90%;
    flex-wrap: wrap;
    padding: 10%;
  }
  .pic {
    display: flex;
    width: 8%;
    margin-left: -55%;
    margin-top: 30%;
  }
  .pic_1 {
    display: flex;
    width: 6%;
    margin-left: -40%;
    margin-top: 22%;
  }
  .pic_2 {
    display: flex;
    width: 7%;
    margin-left: -68%;
    margin-top: 25%;
  }
  .cas2 .reg_b, .cas2 .reg_g {
    font-size: 150%;
  }
  .reg {font-family: 'Inter-Regular';}
  .reg_b {font-family: 'Inter-Bold';}
  .reg_g {color: gray;}
  .head-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
    flex-wrap: wrap;
  }
  .text {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    padding: 8%;
    align-items: flex-start;
    background-color: white;
    flex-wrap: wrap;
  }
  .ti {
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .car {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-basis: 27%;
    margin: 2%;
    padding-top: 7%;
  }
  .car div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .t1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .bdy {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  .col {
    padding: 15%;
    background-color: white;
    width: 100%;
    font-size: 20px;
  }
  .i {
    font-size: 100%;
  }
  .bdy {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  .col {
    padding: 15%;
    width: 50%;
    font-size: 20px;
  }
  .it {
    font-size: 160%;
    font-family: 'Inter-Bold';
  }
  .i {
    font-size: 100%;
    font-family: 'Inter-Regular';
  }
  .ob {width: 100%;}
  .contain-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
    flex-wrap: wrap;
  }
  .sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .txt {
     padding: 15%;
    background-color: white;
    width: 100%;
    font-size: 95%;
    flex-wrap: wrap;
    font-family: 'Inter-Bold';
  }
  .txte {
    padding: 15%;
    background-color: white;
    width: 100%;
    font-size: 20px;
    font-family: 'Inter-Regular';
  }
  .ima {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    flex-wrap: wrap;
  }
  .j {width: 85%; padding: 8%;}
  .contain-3 {  background-color: #2EC5CE;
    width: 100%;}
  .tt {padding: 5%;}
  .tt > * {width: 60%;
    font-size: 130%;
    padding-left: 15%;
  }
  .bot {width: 18%;}
  .ph {width: 40%;
  padding-left: 9%;}
}

@media screen and (min-width: 914px) {
  .ig {display: none;}
  .b1 {padding-top: 2%;
  padding-left: 7%;}
  .big {
    display: flex;
    flex-direction: row;
    padding-left: 12%;
    margin-top: -5%;
  }
  .big > * {
    margin: 2%;
  }
  .l_big {
    margin-left: 80%;
    margin-top: -46%;
    width: 22%;
  }
  
  .l_big img {
    width: 46%;
    margin: 1%;
  }

  .c4 {
    display: flex;
    flex-direction: column;
    padding-left: 65%;
    padding-top: -50%;
    z-index: 10004;
  }

  .t_big {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 7%;
  }
  
  .c {
    font-size: 300%;
    margin: 1%;
    font-family: 'Inter-Bold';
    font-weight: bold;
  }
  
  .c3 {
    border: 2px solid #6935FD;
    border-radius: 3px;
    color: #FFF;
    background-color: #6935FD;
    padding: 2%;
    width: 15%;
  }
  
  .c5 {
    display: flex;
    margin-top: -35%;
    /*z-index: 2;
  }
  
  .c6 {
    display: flex;
    margin-top: -4.5%;
    /*padding-bottom: 25%;*/
    /*z-index: 3;
  }

  .c7 {
    display: flex;
    margin-left: 69%;
    margin-top: -35%;
    z-index: 3;
  }
  
  .c8 {
    display: flex;
    margin-left: 51%;
    margin-top: -7.8%;
    z-index: 2;
  }
  
  .c9 {
    display: flex;
    margin-left: 105.9%;
    margin-top: -13.8%;
    z-index: 1;
  }
  
  head {
    display: none
  }
  .hed {
    background-color: #D5FAFC;
  }
    .big_div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #D5FAFC;
      padding-left: 18%;
      padding-right: 15%;
    }
    .l_cas {
      display: flex;
      flex-direction: column;
    }
    .l_cas div {
      display: flex;
      justify-content: flex-start;
    }
    .cas {
      display: flex;
      flex-direction: column;
    }
    .cas div {
      margin: 5%;
    }

  .guill {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: -30%;
    padding-top: 30%;
  }
  .guill h1 {
    display: flex;
    margin-left: -25%;
    font-size: 206%;
    margin-top: -1%;
    flex-wrap: wrap;
    width: 90%;
    font-weight: bold;
  }
  .guill p {
    display: flex;
    margin-left: 10%;
    font-size: 80%;
    margin-top: -5%;
    font-family: 'Inter-Regular';
  }
    .pict {
      width: 50%; 
      height: 70%;
      margin-top: -35%;
      margin-left: -35%;
      padding: 10%;
    }

  .cas1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    width: 60%;
    height: 60%;
    font-size: 80%;
    flex-wrap: wrap;
    padding: 13%;
  }
  .cas2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    font-size: 85%;
    padding: 10%;
    flex-wrap: wrap;
  }

  .cas3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    width: 76%;
    font-size: 90%;
    flex-wrap: wrap;
    padding: 15%;
  }
  .pic {
    display: flex;
    width: 8%;
    margin-left: -50%;
    margin-top: 30%;
    position: static;
  }
  .pic_1 {
    display: flex;
    width: 5%;
    margin-left: -32%;
    margin-top: 22%;
    position: static;
  }
  .pic_2 {
    display: flex;
    width: 6.5%;
    margin-left: -58.5%;
    margin-top: 25%;
    position: static;
  }
  .cas2 .reg_b, .cas2 .reg_g {
    font-size: 150%;
  }
  .cas2 p {padding: 2%;}
  .reg {font-family: 'Inter-Regular';}
  .reg_b {font-family: 'Inter-Bold';}
  .reg_g {color: gray;}
  .head-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
    flex-wrap: wrap;
  }
  .text {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    margin-left: -2%;
    background-color: white;
    flex-wrap: wrap;
  }
  .ti {
    display: flex;
    flex-direction: column;
    margin: 2%;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .car {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-basis: 27%;
    margin: 2%;
    padding-top: 7%;
    /*flex-wrap: wrap;
  }
  .car div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    /*flex-wrap: wrap;
  }
  .t1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .bdy {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  .col {
    padding: 15%;
    width: 50%;
    font-size: 20px;
  }
  .it {
    font-size: 160%;
    font-family: 'Inter-Bold';
  }
  .i {
    font-size: 100%;
    font-family: 'Inter-Regular';
  }
  .ob {width: 100%;}
  .contain-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: white;
    flex-wrap: wrap;
  }
  .txt {
     padding: 15%;
    background-color: white;
    width: 100%;
    flex-wrap: wrap;
    font-family: 'Inter-Bold';
  }
  .te {font-size: 150%;}
  .txte {
    padding: 15%;
    background-color: white;
    width: 100%;
    font-size: 20px;
    font-family: 'Inter-Regular';
  }
  .ima {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    flex-wrap: wrap;
  }
  .j {width: 90%; padding: 5%;}
  .contain-3 {
    display: flex;
    flex-direction: row;
    background-color: #2EC5CE;
  }
  .tt {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 30%;
    padding-left: 15%;
  }
  .bot {width: 25%;}
  .ph {width: 40%;}

  .img {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}*/